.contentsContainer {
    display: flex;
}

.contentsContainer > div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.sidebarContainer {
    flex-shrink: 1;
}

.sidebar {
    width: 200px;
    background-color: #dd1d5e;
    overflow: auto;
    border-radius: 30px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #ffffff;
    color: #dd1d5e;
}

.sidebar a.selected {
    background-color: #ffffff;
    color: #dd1d5e;
}

.booksContainer {
    display: flex;
    flex-wrap: wrap;
}

.bookItem {
    display:flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 30px;
    flex: 1;
    position: relative;
}

.bookItem img{
    flex-grow:0;
    flex-shrink:0;
}

ul {
    padding: 10px;
    text-align: left;
    margin-left: 5px;
}
li.title {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 8px;
}

li.author {
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 5px;
}

li.price {
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
}
a:link{
    text-decoration: none !important;
}
button {
    margin-top: 8px;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
}
.buttonCart, .buttonOnline {
    width: 100px;
    background-color: white;
    color: black;
    border: 2px solid #dd1d5e;
}
.buttonCart:hover, .buttonOnline:hover {
    background-color: #dd1d5e;
    color: white;
}
