body {
    max-width: 1160px;
    font: 1em normal Arial, sans-serif;
    color: #111111;
}

/* rules for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}

/* rules for the center header */
#searchBoxForm {
    margin-top: 30px;
    display: flex;
}

#searchBox {
    height: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.dropdownSelect {
    width: 189px;
    padding: 5px;
    background-color: #dd1d5e;
    color: white;
    text-align: center;
    display: block;
    border-radius: 5px;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 200px;
    padding-top: 5px;
    z-index: 1;
    border-radius: 5px;
    background-color: #dd1d5e;
    text-align: center;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.dropdownContent a:hover {
    color: #00aacc;
    text-decoration: none;
}

/* rules for the right header */
#rightHeader {
    display: flex;
    margin-top: 40px;
}

#cartCount{
    width: 150px;
    margin: 8px 0 0 10px;
}

#loginButton {
    background-color: #dd1d5e;
    width: 50px;
    height: 30px;
    margin: 4px 10px 0 0;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}

#loginButton a{
    color: white;
    text-decoration: none;
}

#loginButton a:hover {
    color: #00aacc;
    text-decoration: none;
}

/* rules for the footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding: 15px 0;
    font-size: 0.8em;
}

footer p {
    font-size: 1em;
}

footer a {
    text-decoration: none;
}

#footerLeft {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0 10px;
    width: 300px;
}

#footerLeft a{
    padding-top: 12px;
}

#footerRight {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 80px;
}



